<% @page_title = "Associate Painting | Gulf Shores, Al" %>
<% @page_description = "New Subject" %>

<section class="home-header">
	<div class="overlay">
		<!-- <div class="container"> -->
			<div class="text-box">
				<h1><%=image_tag('logo-text.png', alt: 'Associate Painting, serving the Gulf Coast', class: 'h1-img') %></h1>
				<div class="title-line"></div>
				<div class="clearfix"></div>
					<h3>Serving the Gulf Coast since 1995</h3>
					<h3 class="quote">Call Us Today for a Quote</h3>
			</div>
		<!-- </div> -->
	</div>
</section>
<section class="home-sec1">
	<div class="home-banner">
		<div class="content">
			<div class="inner">
				<%= image_tag('roller-clear.png', class: 'icon', alt: '') %>
				<div class="text">
					<h3>Quality Guaranteed</h3>
					<p>From the products we use, to the results we deliver, Associate Painting has you covered!</p>
					<!-- <span>Contact Us Today for a Quote</span> -->
				</div>
			</div>
		</div>
	</div>

	<div class="container no-padding">
		<div class="inside">
			<div class="title-blk">

				<h4><span>See What Makes Associate Painting</span><br> Baldwin County's Top Painting Service</h4>
				<p>Associate Painting has been providing professional, dependable workmanship along the Gulf Coast for more than 20 years. Our team incorporates an unbeatable blend of skill, experience, and efficiency into every project.</p>

				<p>We offer a variety of residential and commercial services throughout Baldwin County. Contact us today for more information, or to discuss what Associate Painting can do for you!</p>
				<div class="service-arr">
					Our Services Include
					<i class="fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="service-blocks">
				<div class="top">
					<div class="service-blk res">
						<div class="over">
							<h3>Residential<br>
							<span>Paint Jobs</span></h3>
						</div>
					</div>

					<div class="service-blk com">
						<div class="over">
							<h3>Commercial<br>
							<span>Paint Jobs</span></h3>
						</div>
					</div>
				</div>

				<div class="bottom">
					<div class="service-blk new">
						<div class="over">
							<h3>New Construction<br>
							<span>Paint Jobs</span></h3>
						</div>
					</div>

					<div class="service-blk cus">
						<div class="over">
							<h3>Custom <br>
							<span>Paint Jobs</span></h3>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>

<section class="home-sec2">
	<div class="container">
		<div class="content">
			<h3>Trust Associate Painting<br>
				<span>to do the job right!</span>
			</h3>

			<p>Our team can help take the stress out of your home improvements! <br>
			We use the highest quality products, to increase the durability of our work, and the proficiency with which it is done. </p>
		</div>
		<div class="boxes">
			<div class="box-link gall">
				<div class="overlay">
					<h4>Take a look at our</h4>
					<h3><%= link_to("Project Gallery", gallery_path) %></h3>
					<!-- <%= image_tag('paint-roller.png', alt: '', class: 'img-responsive custom') %>  -->
				</div>
			</div>

			<div class="box-link quote">
				<div class="overlay">
					<div class="text">
						<h3>Contact Us Today <br>For a Quote!</h3>
						<h4 class="phone"><%= number_to_phone(2515047175, delimiter: '-', class: 'phone') %></h4>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>






		<!-- <%= image_tag('estate.png', class: 'img-responsive') %> -->
