<header>
	<div id="nav" class="stick">
		<div class="container">
			<!-- <div class="col-md-3"> -->
		    <div class="logo-block"><%= link_to(image_tag( 'ap-logo.png', alt: 'Associate Painting - Logo', class: 'img-responsive logo'), root_path ) %></div>
	    <!-- </div> -->
	    <div class="col-md-6 col-md-offset-1">
	    	<!-- <%= number_to_phone(2515047175, delimiter: '-') %>  -->
	    	<!-- <%= mail_to('joedfranco@yahoo.com') %>  -->
				<nav>
					<ul>
						<li class="menu-item"><%= link_to "Home", root_path %></li>
						<li class="menu-item"><%= link_to "Project Gallery", project_gallery_path %></li>
						<li class="menu-item"><%= link_to "Gallery", gallery_path %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
